.main {
  padding: 10rem 0 8rem $sidebar-width;

  @include breakpoint($tablet_bp) {
    padding-left: 0;
  }

  @include breakpoint($mobile_bp) {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }

}
