.sidebar_content {
  padding: 0 2rem;
}

.profile {
  margin-top: -5rem;

  border-bottom: 1px solid #1c1c1c;

  @include breakpoint($tablet_bp) {
    margin-top: -1rem;
    position: relative;
  }
}

.profile_header {
  margin-bottom: 1.7rem;
  text-align: center;

  @include breakpoint($tablet_bp) {
    text-align: left;
    padding-left: 8rem;
    padding-top: 2rem;
  }
}

.profile_avatar {
  position: relative;
  display: block;
  width: 10rem;
  height: 10rem;

  border: 2px solid $white;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50%;

  margin: 0 auto 2rem;

  @include breakpoint($tablet_bp) {
    width: 6.5rem;
    height: 6.5rem;

    position: absolute;
    left: 0;
    margin-left: 0;
  }
}

.profile_name {
  font-size: 1.8rem;

  @include breakpoint($tablet_bp) {
    font-size: 1.5rem;
  }
}

.profile_job {
  font-size: 1.4rem;
  font-weight: 300;

  color: #dedede;

  @include breakpoint($tablet_bp) {
    font-size: 1.2rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  @include breakpoint($tablet_bp) {
    display: none;
  }
}

.profile_text {
  font-size: 1.2rem;
  text-align: center;

  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  padding: 3rem 0;
  margin: 3rem 0;

  @include breakpoint($tablet_bp) {
    display: none;
  }
}
