.related {
  border-bottom: 1px solid #1c1c1c;
  padding-bottom: .5rem;
}

.post_subtitle {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: $white;
  line-height: 1.3;
  font-size: 1.9rem;
  font-weight: 500;
}

.related_list {
  display: flex;
  flex-wrap: wrap;
}

.related_list_item {
  width: 50%;
  margin-bottom: 2rem;
}

.related_list_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: 1.4rem;
  font-weight: 500;
  color: #f3eba2;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.related_list_date {
  font-size: 1.2rem;
  font-weight: 400;
  color: #828282;
}
