.search {
  width: 100%;
  max-width: 22rem;
  background-color: $primary;
}

.search_input {
  display: block;
  width: 100%;

  background: transparent;
  border: none;

  font-family: inherit;
  font-size: 1.2rem;

  color: $white;
  padding: 1.4rem 2rem;
}
