.subnav {
  padding: 0.5rem 0;
  display: none;
  width: 16.5rem;
  border-radius: 0 0 5px 5px;

  position: absolute;
  top: 100%;
  left: 0;

  background: $blue;
  box-shadow: 0 6px 8px rgba($black, 0.25);

  @include breakpoint($tablet_bp) {
    position: static;
    width: 100%;
    background: $primary;
    padding-left: 1rem;
    box-shadow: none;
    border-radius: 0;
  }
}

.subnav_link {
  display: block;
  font-size: 1.2rem;

  text-decoration: none;
  color: $white;
  padding: 0.45rem 1.2rem;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: darken($blue, 5%);
  }

  @include breakpoint($tablet_bp) {
    padding-left: 0;
    padding-right: 0;

    font-size: 1.5rem;

    &:hover {
      background: none;
    }
  }
}
