<div class="modal" id="contact-modal">
  <div class="modal_content modal_content--bottom">
    <button class="modal_close" type="button">
      <img src="assets/images/modal/close.svg" alt="" />
    </button>

    <div class="form_groop form_groop--md">
      <input class="form_control" type="passwor" placeholder="Ваше имя" />
      <span class="form_line"></span>
    </div>

    <div class="form_groop form_groop--md">
      <input class="form_control" type="passwor" placeholder="ваш e-mail" />
      <span class="form_line"></span>
    </div>

    <div class="form_groop form_groop--md">
      <textarea
        class="form_control form_control--textarea"
        placeholder="Текст сообщения"
      ></textarea>
      <span class="form_line"></span>
    </div>

    <div class="form_footer">
      <button class="btn btn--blue btn--rounded btn--sm" type="submit">
        Отправить
      </button>
    </div>

    <ul class="modal_footer">
      <li>email: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru </a></li>
      <li>тел: <a href="tel:+94323285622">+943-232-856-22</a></li>
    </ul>
  </div>
</div>
