<header class="header">
  <div class="header_left">
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a class="nav_link" href="index.html">Главная</a>
        </li>
        <li class="nav_item">
          <a class="nav_link has-subnav" href="">Статьи</a>
          <ul class="subnav">
            <li>
              <a class="subnav_link" href="">Создание сайтов</a>
            </li>
            <li>
              <a class="subnav_link" href="">Интернет-маркетинг</a>
            </li>
            <li>
              <a class="subnav_link" href="">Продвижение видео</a>
            </li>
          </ul>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="text.html">Обо мне</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" href="text.html">Реклама</a>
        </li>
      </ul>
    </nav>

    <button class="burger" id="burger" type="button"><span>Открыть навигацию</span></button>
  </div>
  <div class="header_right">
    <nav class="nav">
      <ul lass="nav_list">
        <li class="nav_item">
          <a class="nav_link" href="profile.html">Профиль</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="search.html" method="get">
      <input class="search_input" placeholder="Поиск по блогу" type="text" />
    </form>
  </div>
</header>
