<div class="modal" id="share-modal">
  <div class="modal_content">
    <button class="modal_close" type="button">
      <img src="assets/images/modal/close.svg" alt="" />
    </button>

    <ul class="social social--modal">
      <li class="social_item">
        <a class="social_link" href="">
          <img src="assets/images/modal/share/facebook_share.svg" alt="" />
        </a>
      </li>

      <li class="social_item">
        <a class="social_link" href="">
          <img src="assets/images/modal/share/twitter_share.svg" alt="" />
        </a>
      </li>

      <li class="social_item">
        <a class="social_link" href="">
          <img src="assets/images/modal/share/vk_share.svg" alt="" />
        </a>
      </li>

      <li class="social_item">
        <a class="social_link" href="">
          <img src="assets/images/modal/share/copy_share.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
